* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font",Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 0;
    padding: 2px ;
}

window#waybar {
    background: rgba(44, 47, 55, 0.7);
    color: white;
}

tooltip {
    background: rgba(44, 47, 55, 0.8);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
  background: rgba(43, 48, 59, 1);
}

#workspaces {
    background: rgba(43, 48, 59, 1);
}

#workspaces button {
    padding: 0 0.5rem;
    color: rgba(141, 141, 154, 1);
    background: transparent;
}

#workspaces button.active {
  color: #e5c07b;
  font-weight: bolder;
}

#clock, #battery, #cpu, #network, #backlight, #pulseaudio #tray #workspaces {
    padding: 0 16px;
}


#battery.charging {
    color: white;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: transparent;
    }
}
